<form #registerForm="ngForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr />
  <div class="form-group">
    <input
      type="text"
      name="username"
      required
      class="form-control"
      [(ngModel)]="model.username"
      placeholder="Username"
    />
  </div>
  <div class="form-group">
    <input
      type="password"
      name="password"
      required
      class="form-control"
      [(ngModel)]="model.password"
      placeholder="Password"
    />
  </div>
  <div class="form-group text-center">
    <button class="btn btn-success" type="submit">Register</button>
    <button class="btn btn-default" type="button" (click)="cancel()">
      Cancel
    </button>
  </div>
</form>
